jupyter-book==1.0.3
quantecon-book-theme==0.7.6
sphinx-tojupyter==0.3.0
sphinxext-rediraffe==0.2.7
sphinx-exercise==1.0.1
ghp-import==2.1.0
sphinxcontrib-youtube
sphinx-proof==0.2.0
numpy
dataclasses
panda
tabulate
matplotlib
seaborn
scikit-learn